/* CreateProjectForm.module.css */
.form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
  }
  
  .title {
    text-align: center;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .message {
    color: #333;
    text-align: center;
    margin: 10px 0;
    font-size: 1.1rem;
  }
  
  .input, .select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .input:focus, .select:focus {
    border-color: #0070f3;
    outline: none;
  }
  
  .submitButton {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.1rem;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s;
  }
  
  .submitButton:hover {
    background-color: #2980b9;
  }
  
  .select {
    background-color: white;
  }
  
  .select option {
    background-color: white;
    color: black;
  }
  