/* SidebarMenu.module.css */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px; /* Más ancho para un aspecto más cómodo */
  height: 100%;
  background-color: #2c3e50; /* Un tono más oscuro y elegante */
  color: white;
  padding-top: 30px;
  transition: transform 0.3s ease; /* Transición suave */
  z-index: 1000;
}

.toggleButton {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
}

.toggleButton:hover {
  background-color: #2980b9;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 15px 20px;
  margin: 10px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 18px;
  transition: background-color 0.3s;
}

.sidebar a:hover {
  background-color: #34495e;
  padding-left: 10px; /* Desplazamiento hacia la izquierda al hacer hover */
}

.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.2s;
}

.closeButton:hover {
  transform: scale(1.1); /* Efecto de escala cuando el cursor pasa sobre el botón */
}

.closeIcon {
  font-size: 30px;
  font-weight: bold;
}

.sidebar li:hover {
  background-color: #34495e; /* Color para resaltar las opciones al pasar el ratón */
  border-radius: 5px;
}

.sidebar a {
  font-size: 18px;
  color: white;
}

.sidebar a:hover {
  background-color: #1abc9c; /* Color más llamativo en hover */
}
