.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  color: green;
}

.submitButton {
  background-color: #28a745;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cancelButton {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
